COMPANY_NAME="Vercel Inc."
TWITTER_CREATOR="@vercel"
TWITTER_SITE="https://nextjs.org/commerce"
SITE_NAME="Next.js Commerce"
SHOPIFY_REVALIDATION_SECRET="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"
SHOPIFY_STOREFRONT_ACCESS_TOKEN="49dd81a15030479f97f0380c92b124a0"
SHOPIFY_STORE_DOMAIN="nhatpd-next-commerce.myshopify.com"
